{% extends "app/layout.html" %}

{% block content %}

<h2>{{ title }}</h2>
<div class="row">
    <div class="col-md-12">
    <h4>Лента новостей</h4>
        {% if posts %}
        <table class="table table-striped">
            <thead>
                <tr>
                  <th>Блоггер</th>
                  <th>Заголовок</th>
                    <th>Текст</th>
                    <th>Время</th>
                    <th>Пометка о прочитанности</th>
                    <th>Пометить непрочитанным</th>
                    <th>Пометить прочитанным</th>
                    <th>Ссылка</th>
                </tr>
            </thead>
            <tbody>
                {% for post in posts %}
                <tr>
                  <td>{{post.owner.username}}</td>
                  <td>{{post.caption}}</td>
                  <td>{{post.text|truncatewords:10}}</td>
                   <td>{{post.time}}</td>
                    {% if post.pk in readings %}
                    <td>
                         <span class="glyphicon glyphicon-eye-open" aria-hidden="true" >
                        </span>
                    </td>
                    {% else %}
                    <td> 
                    <span class="glyphicon glyphicon-eye-close" aria-hidden="true" >
                        </span>
                    </td>
                    {% endif %}
                    <td>
                      <a href="news_feed/make_unreaded/{{ post.pk }}/">
                        <span class="glyphicon glyphicon-remove" aria-hidden="true" >
                        </span>
                      </a>
                    </td>
                     <td>
                      <a href="news_feed/make_readed/{{ post.pk }}/">
                        <span class="glyphicon glyphicon-ok" aria-hidden="true" >
                        </span>
                      </a>
                    </td>
                     <td>
                      <a href="private_office/post_detail/{{ post.pk }}/">
                        <span class="glyphicon glyphicon-link" aria-hidden="true" >
                        </span>
                      </a>
                  </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% endif %}
    </div>
</div>

{% endblock %}